.Logo {
    margin-top: 15px;
    margin-bottom: 20px;
}

.DownloadDocButtons {
    margin: 20px 0;
}

.DownloadDocButtons a {
    font-weight: 300;
}

.Attributes {
    width: 80%;
    margin: 0 auto;
}

h4 {
    margin-top: 30px;
}

footer {
    padding: 15px;
    font-size: .85rem;
    background-color: #EEE;
    margin-top: 50px;
}

footer div a {
    margin: 0 2.5px;
}

/* Docs */

.Docs {
    margin-top: 50px;
}

.SubTitle {
    color: #555;
}
