@font-face {
    font-family: Vazir;
    src: url('../Fonts/Vazir-Regular.eot');
    src: url('../Fonts/Vazir-Regular.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/Vazir-Regular.woff2') format('woff2'),
         url('../Fonts/Vazir-Regular.woff') format('woff'),
         url('../Fonts/Vazir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../Fonts/Vazir-Bold.eot');
    src: url('../Fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/Vazir-Bold.woff2') format('woff2'),
         url('../Fonts/Vazir-Bold.woff') format('woff'),
         url('../Fonts/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../Fonts/Vazir-Black.eot');
    src: url('../Fonts/Vazir-Black.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/Vazir-Black.woff2') format('woff2'),
         url('../Fonts/Vazir-Black.woff') format('woff'),
         url('../Fonts/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../Fonts/Vazir-Medium.eot');
    src: url('../Fonts/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/Vazir-Medium.woff2') format('woff2'),
         url('../Fonts/Vazir-Medium.woff') format('woff'),
         url('../Fonts/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../Fonts/Vazir-Light.eot');
    src: url('../Fonts/Vazir-Light.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/Vazir-Light.woff2') format('woff2'),
         url('../Fonts/Vazir-Light.woff') format('woff'),
         url('../Fonts/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../Fonts/Vazir-Thin.eot');
    src: url('../Fonts/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/Vazir-Thin.woff2') format('woff2'),
         url('../Fonts/Vazir-Thin.woff') format('woff'),
         url('../Fonts/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}