/* Cells */

html {
    direction: rtl;
}

[class*="cln"] {
    float: right;
}

@media only screen and (max-width: 25em) {
    .clnXSOffset0 {
        margin-right: 0%;
    }
    .clnXSOffset1 {
        margin-right: 8.333333333333333%;
    }
    .clnXSOffset2 {
        margin-right: 16.66666666666667%;
    }
    .clnXSOffset3 {
        margin-right: 25%;
    }
    .clnXSOffset4 {
        margin-right: 33.33333333333333%;
    }
    .clnXSOffset5 {
        margin-right: 41.66666666666667%;
    }
    .clnXSOffset6 {
        margin-right: 50%;
    }
    .clnXSOffset7 {
        margin-right: 58.33333333333333%;
    }
    .clnXSOffset8 {
        margin-right: 66.66666666666667%;
    }
    .clnXSOffset9 {
        margin-right: 75%;
    }
    .clnXSOffset10 {
        margin-right: 83.33333333333333%;
    }
    .clnXSOffset11 {
        margin-right: 91.66666666666667%;
    }
    .clnXSOffset12 {
        margin-right: 100%;
    }
}

@media only screen and (min-width: 25em) and (max-width: 45em) {
    .clnMIOffset0 {
        margin-right: 0%;
    }
    .clnMIOffset1 {
        margin-right: 8.333333333333333%;
    }
    .clnMIOffset2 {
        margin-right: 16.66666666666667%;
    }
    .clnMIOffset3 {
        margin-right: 25%;
    }
    .clnMIOffset4 {
        margin-right: 33.33333333333333%;
    }
    .clnMIOffset5 {
        margin-right: 41.66666666666667%;
    }
    .clnMIOffset6 {
        margin-right: 50%;
    }
    .clnMIOffset7 {
        margin-right: 58.33333333333333%;
    }
    .clnMIOffset8 {
        margin-right: 66.66666666666667%;
    }
    .clnMIOffset9 {
        margin-right: 75%;
    }
    .clnMIOffset10 {
        margin-right: 83.33333333333333%;
    }
    .clnMIOffset11 {
        margin-right: 91.66666666666667%;
    }
    .clnMIOffset12 {
        margin-right: 100%;
    }
}

@media only screen and (min-width: 45em) and (max-width: 64em) {
    .clnSMOffset0 {
        margin-right: 0%;
    }
    .clnSMOffset1 {
        margin-right: 8.333333333333333%;
    }
    .clnSMOffset2 {
        margin-right: 16.66666666666667%;
    }
    .clnSMOffset3 {
        margin-right: 25%;
    }
    .clnSMOffset4 {
        margin-right: 33.33333333333333%;
    }
    .clnSMOffset5 {
        margin-right: 41.66666666666667%;
    }
    .clnSMOffset6 {
        margin-right: 50%;
    }
    .clnSMOffset7 {
        margin-right: 58.33333333333333%;
    }
    .clnSMOffset8 {
        margin-right: 66.66666666666667%;
    }
    .clnSMOffset9 {
        margin-right: 75%;
    }
    .clnSMOffset10 {
        margin-right: 83.33333333333333%;
    }
    .clnSMOffset11 {
        margin-right: 91.66666666666667%;
    }
    .clnSMOffset12 {
        margin-right: 100%;
    }
}

@media only screen and (min-width: 64em) and (max-width: 87.5em) {
    .clnMDOffset0 {
        margin-right: 0%;
    }
    .clnMDOffset1 {
        margin-right: 8.333333333333333%;
    }
    .clnMDOffset2 {
        margin-right: 16.66666666666667%;
    }
    .clnMDOffset3 {
        margin-right: 25%;
    }
    .clnMDOffset4 {
        margin-right: 33.33333333333333%;
    }
    .clnMDOffset5 {
        margin-right: 41.66666666666667%;
    }
    .clnMDOffset6 {
        margin-right: 50%;
    }
    .clnMDOffset7 {
        margin-right: 58.33333333333333%;
    }
    .clnMDOffset8 {
        margin-right: 66.66666666666667%;
    }
    .clnMDOffset9 {
        margin-right: 75%;
    }
    .clnMDOffset10 {
        margin-right: 83.33333333333333%;
    }
    .clnMDOffset11 {
        margin-right: 91.66666666666667%;
    }
    .clnMDOffset12 {
        margin-right: 100%;
    }
}

@media only screen and (min-width: 87.5em) {
    .clnLGOffset0 {
        margin-right: 0%;
    }
    .clnLGOffset1 {
        margin-right: 8.333333333333333%;
    }
    .clnLGOffset2 {
        margin-right: 16.66666666666667%;
    }
    .clnLGOffset3 {
        margin-right: 25%;
    }
    .clnLGOffset4 {
        margin-right: 33.33333333333333%;
    }
    .clnLGOffset5 {
        margin-right: 41.66666666666667%;
    }
    .clnLGOffset6 {
        margin-right: 50%;
    }
    .clnLGOffset7 {
        margin-right: 58.33333333333333%;
    }
    .clnLGOffset8 {
        margin-right: 66.66666666666667%;
    }
    .clnLGOffset9 {
        margin-right: 75%;
    }
    .clnLGOffset10 {
        margin-right: 83.33333333333333%;
    }
    .clnLGOffset11 {
        margin-right: 91.66666666666667%;
    }
    .clnLGOffset12 {
        margin-right: 100%;
    }
}

/* Breadcrumb */

.bcu li {
    float: right;
}

.bcu li:last-child {
    padding-right: 0;
    padding-left: 10px;
}

.bcu li::before {
    content: "\2190";
}

.bcu li:first-child::before {
    content: "";
}

/* Forms */

.frmSelect span {
    right: auto;
    left: 10px !important;
}

.frmInline {
    margin-right: auto;
    margin-left: 15px;
}

.frmGroup input[type="file"] {
    border: 0;
    padding: 0;
    direction: ltr;
}

/* Icon Menu */

.icnMenuHorizontal a {
    float: right;
}

/* List */

.lstBadge {
    float: left;
}

.lstActive {
    padding-left: 0 !important;
    padding-right: 30px !important;
}

/* Navbar */

.nav ul li {
    float: right;
}

/* Pagination */

.pgt li {
    float: right;
    border-right: 1px solid #DDD;
    border-left: 0;
}

.pgt li:last-child {
    border-left: 1px solid #DDD;
}

/* Slider */

.sldNext {
    right: auto;
    left: 40px;
}

.sldPre {
    left: auto;
    right: 40px;
}

/* Tab */

.tab ul li {
    float: right;
    border-right: 1px solid #DDD;
    border-left: 0;
}

.tab ul li:last-child {
    border-left: 1px solid #DDD;
}
