/* Initializing */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

:root {
    /* Primary */
    --primary-color: #34495E;
    --primary-color-hover: #2E4053;
    --primary-color-active-focus: #283747;
    /* Secondary */
    --secondary-color: #7F8C8D;
    --secondary-color-hover: #707B7C;
    --secondary-color-active-focus: #616A6B;
    /* Success */
    --success-color: #2ECC71;
    --success-color-hover: #28B463;
    --success-color-active-focus: #239B56;
    /* Danger */
    --danger-color: #E74C3C;
    --danger-color-hover: #CB4335;
    --danger-color-active-focus: #B03A2E;
    /* Warning */
    --warning-color: #F39C12;
    --warning-color-hover: #D68910;
    --warning-color-active-focus: #B9770E;
    /* Info */
    --info-color: #3498DB;
    --info-color-hover: #2E86C1;
    --info-color-active-focus: #2874A6;
    /* Link */
    --link-color: #2980B9;
    --link-color-active-focus: #CB4335;
    /* Main Background & Muted */
    --gray-color: #FBFBFB;
    --muted-color: #858585;
    --border-color: #EEE;
    --hover-color: #F9F9F9;
    --active-focus-color: #F4F4F4;
    /* Selection */
    --selection: #EBF5FB;
    /* Tooltip */
    --tooltip-color: #1B4F72;
    /* List Group Badge */
    --list-group-badge-color: #F39C12;
    /* Nav Toggle */
    --nav-toggle-color: #F5B041;
    --nav-toggle-border-color: #F39C12;
    /* Modal Close Button */
    --modal-close-button-color: #E74C3C;
}

/* Cells */

.ctr {
    width: 85%;
    margin: 0 auto;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="cln"] {
    width: 100%;
    float: left;
    padding: 10px;
    position: relative;
}

.noGut {
    padding: 0;
}

@media only screen and (max-width: 25em) {
    /* Helpers */
    .XSBlock {
        display: block;
    }
    .XSInline {
        display: inline;
    }
    .XSInlineBlock {
        display: inline-block;
    }
    .XSNone {
        display: none;
    }
    .XSVisible {
        visibility: visible;
    }
    .XSInvisible {
        visibility: hidden;
    }
    /* Columns */
    .clnXS0 {
        width: 0%;
    }
    .clnXS1 {
        width: 8.333333333333333%;
    }
    .clnXS2 {
        width: 16.66666666666667%;
    }
    .clnXS3 {
        width: 25%;
    }
    .clnXS4 {
        width: 33.33333333333333%;
    }
    .clnXS5 {
        width: 41.66666666666667%;
    }
    .clnXS6 {
        width: 50%;
    }
    .clnXS7 {
        width: 58.33333333333333%;
    }
    .clnXS8 {
        width: 66.66666666666667%;
    }
    .clnXS9 {
        width: 75%;
    }
    .clnXS10 {
        width: 83.33333333333333%;
    }
    .clnXS11 {
        width: 91.66666666666667%;
    }
    .clnXS12 {
        width: 100%;
    }

    .clnXSOffset0 {
        margin-left: 0%;
    }
    .clnXSOffset1 {
        margin-left: 8.333333333333333%;
    }
    .clnXSOffset2 {
        margin-left: 16.66666666666667%;
    }
    .clnXSOffset3 {
        margin-left: 25%;
    }
    .clnXSOffset4 {
        margin-left: 33.33333333333333%;
    }
    .clnXSOffset5 {
        margin-left: 41.66666666666667%;
    }
    .clnXSOffset6 {
        margin-left: 50%;
    }
    .clnXSOffset7 {
        margin-left: 58.33333333333333%;
    }
    .clnXSOffset8 {
        margin-left: 66.66666666666667%;
    }
    .clnXSOffset9 {
        margin-left: 75%;
    }
    .clnXSOffset10 {
        margin-left: 83.33333333333333%;
    }
    .clnXSOffset11 {
        margin-left: 91.66666666666667%;
    }
    .clnXSOffset12 {
        margin-left: 100%;
    }
}

@media only screen and (min-width: 25em) and (max-width: 45em) {
    /* Helpers */
    .MIBlock {
        display: block;
    }
    .MIInline {
        display: inline;
    }
    .MIInlineBlock {
        display: inline-block;
    }
    .MINone {
        display: none;
    }
    .MIVisible {
        visibility: visible;
    }
    .MIInvisible {
        visibility: hidden;
    }
    /* Columns */
    .clnMI0 {
        width: 0%;
    }
    .clnMI1 {
        width: 8.333333333333333%;
    }
    .clnMI2 {
        width: 16.66666666666667%;
    }
    .clnMI3 {
        width: 25%;
    }
    .clnMI4 {
        width: 33.33333333333333%;
    }
    .clnMI5 {
        width: 41.66666666666667%;
    }
    .clnMI6 {
        width: 50%;
    }
    .clnMI7 {
        width: 58.33333333333333%;
    }
    .clnMI8 {
        width: 66.66666666666667%;
    }
    .clnMI9 {
        width: 75%;
    }
    .clnMI10 {
        width: 83.33333333333333%;
    }
    .clnMI11 {
        width: 91.66666666666667%;
    }
    .clnMI12 {
        width: 100%;
    }

    .clnMIOffset0 {
        margin-left: 0%;
    }
    .clnMIOffset1 {
        margin-left: 8.333333333333333%;
    }
    .clnMIOffset2 {
        margin-left: 16.66666666666667%;
    }
    .clnMIOffset3 {
        margin-left: 25%;
    }
    .clnMIOffset4 {
        margin-left: 33.33333333333333%;
    }
    .clnMIOffset5 {
        margin-left: 41.66666666666667%;
    }
    .clnMIOffset6 {
        margin-left: 50%;
    }
    .clnMIOffset7 {
        margin-left: 58.33333333333333%;
    }
    .clnMIOffset8 {
        margin-left: 66.66666666666667%;
    }
    .clnMIOffset9 {
        margin-left: 75%;
    }
    .clnMIOffset10 {
        margin-left: 83.33333333333333%;
    }
    .clnMIOffset11 {
        margin-left: 91.66666666666667%;
    }
    .clnMIOffset12 {
        margin-left: 100%;
    }
}

@media only screen and (min-width: 45em) and (max-width: 64em) {
    /* Helpers */
    .SMBlock {
        display: block;
    }
    .SMInline {
        display: inline;
    }
    .SMInlineBlock {
        display: inline-block;
    }
    .SMNone {
        display: none;
    }
    .SMVisible {
        visibility: visible;
    }
    .SMInvisible {
        visibility: hidden;
    }
    /* Columns */
    .clnSM0 {
        width: 0%;
    }
    .clnSM1 {
        width: 8.333333333333333%;
    }
    .clnSM2 {
        width: 16.66666666666667%;
    }
    .clnSM3 {
        width: 25%;
    }
    .clnSM4 {
        width: 33.33333333333333%;
    }
    .clnSM5 {
        width: 41.66666666666667%;
    }
    .clnSM6 {
        width: 50%;
    }
    .clnSM7 {
        width: 58.33333333333333%;
    }
    .clnSM8 {
        width: 66.66666666666667%;
    }
    .clnSM9 {
        width: 75%;
    }
    .clnSM10 {
        width: 83.33333333333333%;
    }
    .clnSM11 {
        width: 91.66666666666667%;
    }
    .clnSM12 {
        width: 100%;
    }

    .clnSMOffset0 {
        margin-left: 0%;
    }
    .clnSMOffset1 {
        margin-left: 8.333333333333333%;
    }
    .clnSMOffset2 {
        margin-left: 16.66666666666667%;
    }
    .clnSMOffset3 {
        margin-left: 25%;
    }
    .clnSMOffset4 {
        margin-left: 33.33333333333333%;
    }
    .clnSMOffset5 {
        margin-left: 41.66666666666667%;
    }
    .clnSMOffset6 {
        margin-left: 50%;
    }
    .clnSMOffset7 {
        margin-left: 58.33333333333333%;
    }
    .clnSMOffset8 {
        margin-left: 66.66666666666667%;
    }
    .clnSMOffset9 {
        margin-left: 75%;
    }
    .clnSMOffset10 {
        margin-left: 83.33333333333333%;
    }
    .clnSMOffset11 {
        margin-left: 91.66666666666667%;
    }
    .clnSMOffset12 {
        margin-left: 100%;
    }
}

@media only screen and (min-width: 64em) and (max-width: 87.5em) {
    /* Helpers */
    .MDBlock {
        display: block;
    }
    .MDInline {
        display: inline;
    }
    .MDInlineBlock {
        display: inline-block;
    }
    .MDNone {
        display: none;
    }
    .MDVisible {
        visibility: visible;
    }
    .MDInvisible {
        visibility: hidden;
    }
    /* Columns */
    .clnMD0 {
        width: 0%;
    }
    .clnMD1 {
        width: 8.333333333333333%;
    }
    .clnMD2 {
        width: 16.66666666666667%;
    }
    .clnMD3 {
        width: 25%;
    }
    .clnMD4 {
        width: 33.33333333333333%;
    }
    .clnMD5 {
        width: 41.66666666666667%;
    }
    .clnMD6 {
        width: 50%;
    }
    .clnMD7 {
        width: 58.33333333333333%;
    }
    .clnMD8 {
        width: 66.66666666666667%;
    }
    .clnMD9 {
        width: 75%;
    }
    .clnMD10 {
        width: 83.33333333333333%;
    }
    .clnMD11 {
        width: 91.66666666666667%;
    }
    .clnMD12 {
        width: 100%;
    }

    .clnMDOffset0 {
        margin-left: 0%;
    }
    .clnMDOffset1 {
        margin-left: 8.333333333333333%;
    }
    .clnMDOffset2 {
        margin-left: 16.66666666666667%;
    }
    .clnMDOffset3 {
        margin-left: 25%;
    }
    .clnMDOffset4 {
        margin-left: 33.33333333333333%;
    }
    .clnMDOffset5 {
        margin-left: 41.66666666666667%;
    }
    .clnMDOffset6 {
        margin-left: 50%;
    }
    .clnMDOffset7 {
        margin-left: 58.33333333333333%;
    }
    .clnMDOffset8 {
        margin-left: 66.66666666666667%;
    }
    .clnMDOffset9 {
        margin-left: 75%;
    }
    .clnMDOffset10 {
        margin-left: 83.33333333333333%;
    }
    .clnMDOffset11 {
        margin-left: 91.66666666666667%;
    }
    .clnMDOffset12 {
        margin-left: 100%;
    }
}

@media only screen and (min-width: 87.5em) {
    /* Helpers */
    .LGBlock {
        display: block;
    }
    .LGInline {
        display: inline;
    }
    .LGInlineBlock {
        display: inline-block;
    }
    .LGNone {
        display: none;
    }
    .LGVisible {
        visibility: visible;
    }
    .LGInvisible {
        visibility: hidden;
    }
    /* Columns */
    .clnLG0 {
        width: 0%;
    }
    .clnLG1 {
        width: 8.333333333333333%;
    }
    .clnLG2 {
        width: 16.66666666666667%;
    }
    .clnLG3 {
        width: 25%;
    }
    .clnLG4 {
        width: 33.33333333333333%;
    }
    .clnLG5 {
        width: 41.66666666666667%;
    }
    .clnLG6 {
        width: 50%;
    }
    .clnLG7 {
        width: 58.33333333333333%;
    }
    .clnLG8 {
        width: 66.66666666666667%;
    }
    .clnLG9 {
        width: 75%;
    }
    .clnLG10 {
        width: 83.33333333333333%;
    }
    .clnLG11 {
        width: 91.66666666666667%;
    }
    .clnLG12 {
        width: 100%;
    }

    .clnLGOffset0 {
        margin-left: 0%;
    }
    .clnLGOffset1 {
        margin-left: 8.333333333333333%;
    }
    .clnLGOffset2 {
        margin-left: 16.66666666666667%;
    }
    .clnLGOffset3 {
        margin-left: 25%;
    }
    .clnLGOffset4 {
        margin-left: 33.33333333333333%;
    }
    .clnLGOffset5 {
        margin-left: 41.66666666666667%;
    }
    .clnLGOffset6 {
        margin-left: 50%;
    }
    .clnLGOffset7 {
        margin-left: 58.33333333333333%;
    }
    .clnLGOffset8 {
        margin-left: 66.66666666666667%;
    }
    .clnLGOffset9 {
        margin-left: 75%;
    }
    .clnLGOffset10 {
        margin-left: 83.33333333333333%;
    }
    .clnLGOffset11 {
        margin-left: 91.66666666666667%;
    }
    .clnLGOffset12 {
        margin-left: 100%;
    }
}

/* Typography */

::selection {
    background-color: var(--selection); /* WebKit/Blink Browsers */
}

::-moz-selection {
    background-color: var(--selection); /* Gecko Browsers */
}

html,
body {
    font-family: Vazir;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 12px;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    font-size: 50%;
    font-weight: 400;
}

pre {
    font-family: 'Courier New', monospace;
    border-radius: 4px;
    font-size: 12px;
    background-color: #F5F5F5;
    padding: 6px;
    overflow-x: auto;
    margin: 10px 0;
}

code {
    font-family: 'Courier New', monospace;
    color: #1B4F72;
}

hr {
    border: 0;
    border-top: 1.5px solid #BBB;
}

.txtMuted {
    color: var(--muted-color);
}

p {
    line-height: 1.5;
}

mark {
    background-color: #F7DC6F;
    padding: 2px 4px;
    border-radius: 2px;
}

small {
    font-size: 10px;
}

strong {
    font-weight: 600;
}

abbr {
    cursor: help;
}

blockquote {
    font-style: italic;
}

.bkqCaption {
    font-size: 12px;
    margin: 10px 0;
    color: #424949;
    font-style: normal;
}

.bkqCaption::before {
    content: "\2015 \00A0";
}

a {
    color: var(--link-color);
}

a:focus,
a:active {
    color: var(--link-color-active-focus);
}

/* Alert */

.alt {
    padding: 12px;
    color: #FFF;
    margin: 4px 0;
    font-size: 12px;
}

.altPrimary {
    background-color: var(--primary-color);
}

.altSecondary {
    background-color: var(--secondary-color);
}

.altSuccess {
    background-color: var(--success-color);
}

.altDanger {
    background-color: var(--danger-color);
}

.altWarning {
    background-color: var(--warning-color);
}

.altInfo {
    background-color: var(--info-color);
}

.alt a {
    color: #FFF;
}

/* Arrangement */

.algRight {
    text-align: right;
}

.algCenter {
    text-align: center;
}

.algLeft {
    text-align: left;
}

.algJustify {
    text-align: justify;
}

.dirRTL {
    direction: rtl;
}

.dirLTR {
    direction: ltr;
}

.fltRight {
    float: right;
}

.fltLeft {
    float: left;
}

.dspBlock {
    display: block;
}

.dspInline {
    display: inline;
}

.dspInlineBlock {
    display: inline-block;
}

.mrgAuto {
    margin-left: auto;
    margin-right: auto;
}

.vsbShow {
    visibility: visible;
}

.vsbHidden {
    visibility: hidden;
}

/* Breadcrumb */

.bcu {
    background-color: var(--gray-color);
    margin: 4px 0;
}

.bcu::after {
    content: "";
    clear: both;
    display: block;
}

.bcu li {
    float: left;
    font-size: 12px;
    padding: 8px 0;
    color: var(--muted-color);
    list-style-type: none;
}

.bcu li::before {
    content: "\2192";
    margin: 0 8px;
    font-size: 12px;
}

.bcu li:first-child::before {
    content: "";
}

/* Buttons */

.btn {
    text-align: center;
    color: #FFF;
    font-family: inherit;
    font-size: 12px;
    border: 0;
    padding: 6px 14px;
    margin: 4px;
    cursor: pointer;
    -webkit-transition: background-color ease 100ms;
       -moz-transition: background-color ease 100ms;
         -o-transition: background-color ease 100ms;
            transition: background-color ease 100ms;
}

.btnBordered {
    border-radius: 4px;
}

.btnPrimary.btnOutline {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.btnPrimary.btnOutline:hover {
    background-color: var(--primary-color);
    color: #FFF;
}

.btnSecondary.btnOutline {
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

.btnSecondary.btnOutline:hover {
    background-color: var(--secondary-color);
    color: #FFF;
}

.btnSuccess.btnOutline {
    background-color: transparent;
    border: 1px solid var(--success-color);
    color: var(--success-color);
}

.btnSuccess.btnOutline:hover {
    background-color: var(--success-color);
    color: #FFF;
}

.btnDanger.btnOutline {
    background-color: transparent;
    border: 1px solid var(--danger-color);
    color: var(--danger-color);
}

.btnDanger.btnOutline:hover {
    background-color: var(--danger-color);
    color: #FFF;
}

.btnWarning.btnOutline {
    background-color: transparent;
    border: 1px solid var(--warning-color);
    color: var(--warning-color);
}

.btnWarning.btnOutline:hover {
    background-color: var(--warning-color);
    color: #FFF;
}

.btnInfo.btnOutline {
    background-color: transparent;
    border: 1px solid var(--info-color);
    color: var(--info-color);
}

.btnInfo.btnOutline:hover {
    background-color: var(--info-color);
    color: #FFF;
}

.btnPrimary {
    background-color: var(--primary-color);
}

.btnPrimary:hover {
    background-color: var(--primary-color-hover);
}

.btnPrimary:active,
.btnPrimary:focus,
.btnPrimary.btnOutline:active,
.btnPrimary.btnOutline:focus {
    background-color: var(--primary-color-active-focus);
    border-color: var(--primary-color-active-focus);
    color: #FFF;
}

.btnSecondary {
    background-color: var(--secondary-color);
}

.btnSecondary:hover {
    background-color: var(--secondary-color-hover);
}

.btnSecondary:active,
.btnSecondary:focus,
.btnSecondary.btnOutline:active,
.btnSecondary.btnOutline:focus {
    background-color: var(--secondary-color-active-focus);
    border-color: var(--secondary-color-active-focus);
    color: #FFF;
}

.btnSuccess {
    background-color: var(--success-color);
}

.btnSuccess:hover {
    background-color: var(--success-color-hover);
}

.btnSuccess:active,
.btnSuccess:focus,
.btnSuccess.btnOutline:active,
.btnSuccess.btnOutline:focus {
    background-color: var(--success-color-active-focus);
    border-color: var(--success-color-active-focus);
    color: #FFF;
}

.btnDanger {
    background-color: var(--danger-color);
}

.btnDanger:hover {
    background-color: var(--danger-color-hover);
}

.btnDanger:active,
.btnDanger:focus,
.btnDanger.btnOutline:active,
.btnDanger.btnOutline:focus {
    background-color: var(--danger-color-active-focus);
    border-color: var(--danger-color-active-focus);
    color: #FFF;
}

.btnWarning {
    background-color: var(--warning-color);
}

.btnWarning:hover {
    background-color: var(--warning-color-hover);
}

.btnWarning:active,
.btnWarning:focus,
.btnWarning.btnOutline:active,
.btnWarning.btnOutline:focus {
    background-color: var(--warning-color-active-focus);
    border-color: var(--warning-color-active-focus);
    color: #FFF;
}

.btnInfo {
    background-color: var(--info-color);
}

.btnInfo:hover {
    background-color: var(--info-color-hover);
}

.btnInfo:active,
.btnInfo:focus,
.btnInfo.btnOutline:active,
.btnInfo.btnOutline:focus {
    background-color: var(--info-color-active-focus);
    border-color: var(--info-color-active-focus);
    color: #FFF;
}

.btnBlock {
    width: 100%;
    display: block;
}

.btnPrimary:disabled,
.btnSecondary:disabled,
.btnSuccess:disabled,
.btnDanger:disabled,
.btnWarning:disabled,
.btnInfo:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.btnPrimary:disabled {
    background-color: var(--primary-color);
}

.btnSecondary:disabled {
    background-color: var(--secondary-color);
}

.btnSuccess:disabled {
    background-color: var(--success-color);
}

.btnDanger:disabled {
    background-color: var(--danger-color);
}

.btnWarning:disabled {
    background-color: var(--warning-color);
}

.btnInfo:disabled {
    background-color: var(--info-color);
}

.btnPrimary.btnActive {
    background-color: var(--primary-color-active-focus);
}

.btnSecondary.btnActive{
    background-color: var(--secondary-color-active-focus);
}

.btnSuccess.btnActive {
    background-color: var(--success-color-active-focus);
}

.btnDanger.btnActive {
    background-color: var(--danger-color-active-focus);
}

.btnWarning.btnActive {
    background-color: var(--warning-color-active-focus);
}

.btnInfo.btnActive {
    background-color: var(--info-color-active-focus);
}

/* Forms */

.frmGroup {
    position: relative;
    margin: 10px 0;
}

.frmGroup label {
    display: block;
    font-size: 12px;
    margin: 4px 0;
}

.frmGroup input {
    width: 100%;
    height: 34px;
    border: 1px solid var(--border-color);
    display: block;
    padding: 0 6px;
    font-family: inherit;
    color: var(--muted-color);
    margin: 4px 0;
}

.frmGroup input[readonly="readonly"],
.frmGroup input[readonly],
.frmGroup textarea[readonly="readonly"],
.frmGroup textarea[readonly],
.frmGroup input:disabled,
.frmGroup select:disabled,
.frmGroup textarea:disabled {
    background-color: var(--gray-color);
    color: var(--muted-color);
}

.frmGroup input:disabled,
.frmGroup select:disabled,
.frmGroup textarea:disabled {
    cursor: not-allowed;
}

.frmCaption {
    color: var(--muted-color);
    font-size: 10px;
}

.frmSuccess input {
    border-color: var(--success-color);
    color: var(--success-color);
}

.frmSuccess .frmCaption {
    color: var(--success-color);
}

.frmWarning input {
    border-color: var(--warning-color);
    color: var(--warning-color);
}

.frmWarning .frmCaption {
    color: var(--warning-color);
}

.frmDanger input {
    border-color: var(--danger-color);
    color: var(--danger-color);
}

.frmDanger .frmCaption {
    color: var(--danger-color);
}

.frmGroup textarea {
    width: 100%;
    min-height: 100px;
    display: block;
    resize: vertical;
    border: 1px solid var(--border-color);
    font-family: inherit;
    padding: 10px;
    margin: 4px 0;
}

.noResize {
    resize: none !important;
}

/* Images */

figure {
    display: inline-block;
}

figcaption {
    text-align: center;
    font-size: 12px;
    color: var(--muted-color);
    margin-bottom: 10px;
}

.imgResponsive {
    max-width: 100%;
    height: auto !important;
}

.imgThumbnail {
    width: 160px;
    height: 160px;
    border: 1px solid #EEE;
    padding: 4px;
}

.imgRounded {
    border-radius: 4px;
}

.imgCenter {
    display: block;
    margin: 0 auto;
}

.imgCircle {
    border-radius: 100%;
}

/* Jumbotron */

.jmb {
    background-color: var(--gray-color);
    border-radius: 4px;
    margin: 10px 0;
    padding: 14px;
}

.jmbTitle {
    font-size: 30px;
    font-weight: bold;
}

.jmbText {
    color:var(--muted-color);
}

.jmbLine {
    margin: 10px 0;
    border: 1px solid #DDD;
}

/* Simple List */

.lst {
    margin: 10px 0;
}

.lst li {
    margin: 2px 12px;
}

/* Group List */

.lstGroup {
    border: 1px solid var(--border-color);
    margin: 10px 0;
}

.lstGroup li {
    list-style-type: none;
    border-bottom: 1px solid var(--border-color);
    padding: 6px 10px;
}

.lstGroup li:last-child {
    border-bottom: 0;
}

.lstBadge {
    float: right;
    font-size: 10px;
    background-color: var(--list-group-badge-color);
    padding: 2px 4px;
    color: #FFF;
    border-radius: 2px;
}

.lstActive {
    background-color: var(--active-focus-color);
}

.lstDisabled {
    color: #AAA;
    cursor: not-allowed;
}

.lstHover:hover {
    background-color: var(--hover-color);
}

/* Loaders */

.ldr {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border-top: 5px solid transparent;
    border-right: 5px solid #000;
    border-bottom: 5px solid #000;
    border-left: 5px solid #000;
    margin: 10px 0;
}

.ldrLarge {
    width: 50px;
    height: 50px;
}

.ldrSmall {
    width: 30px;
    height: 30px;
}

.ldrPrimary {
    border-color: var(--primary-color);
    border-top-color: transparent;
}

.ldrSecondary {
    border-color: var(--secondary-color);
    border-top-color: transparent;
}

.ldrSuccess {
    border-color: var(--success-color);
    border-top-color: transparent;
}

.ldrDanger {
    border-color: var(--danger-color);
    border-top-color: transparent;
}

.ldrWarning {
    border-color: var(--warning-color);
    border-top-color: transparent;
}

.ldrInfo {
    border-color: var(--info-color);
    border-top-color: transparent;
}

.ldrAnimation {
    -webkit-animation: Loadrs .5s infinite;
    animation: Loaders .5s infinite;
}

@-webkit-keyframes Loaders {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes Loaders {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Menu */

.mnu {
    height: 100%;
    border: 1px solid var(--border-color);
    overflow-y: auto;
}

.mnuFixedLeft,
.mnuFixedRight {
    min-width: 200px;
    position: fixed;
    top: 0;
    z-index: 6000;
}

.mnuFixedLeft {
    left: 0;
}

.mnuFixedRight {
    right: 0;
}

.mnuAvatar {
    width: 100px;
    height: 100px;
    display: block;
    margin: 20px auto;
    border-radius: 4px;
}

.mnu li {
    list-style-type: none;
    font-size: 12px;
    border-top: 1px solid var(--border-color);
    padding: 10px;
    text-align: center;
    -webkit-transition: background-color ease 100ms;
       -moz-transition: background-color ease 100ms;
         -o-transition: background-color ease 100ms;
            transition: background-color ease 100ms;
}

.mnu li:hover {
    background-color: var(--hover-color);
}

.mnuActive {
    background-color: var(--active-focus-color);
}

.mnu li a {
    text-decoration: none;
    color: #000;
}

/* Modal */

.mdl {
	width: 50%;
	background-color: #FFF;
	position: fixed;
	display: none;
	top: 100px;
    left: 50%;
    border: 1px solid var(--border-color);
    z-index: 8000;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.mdlHeader,
.mdlBody,
.mdlFooter {
	padding: 6px 10px;
}

.mdlHeader {
    border-bottom: 1px solid var(--border-color);
    position: relative;
}

.mdlBody {
	max-height: 300px;
	overflow-y: auto;
}

.mdlFooter {
	border-top: 1px solid var(--border-color);
}

.mdlClose {
	padding: 4px 8px;
	border-radius: 2px;
	color: var(--modal-close-button-color);
	position: absolute;
	top: 50%;
    right: 10px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);    
}

@media only screen and (max-width: 64em) {
	.mdl {
		width: 65%;
	}
}

@media only screen and (max-width: 25em) {
	.mdl {
		width: 80%;
	}
}

/* Navbar */

.nav {
    background-color: var(--gray-color);
    border: 1px solid var(--border-color);
}

.navFixedTop,
.navFixedBottom {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.navFixedBottom {
    top: auto;
    bottom: 0;
}

.nav ul::after {
    content: "";
    clear: both;
    display: block;
}

.nav ul li {
    float: left;
    list-style-type: none;
    padding: 10px 14px;
    -webkit-transition: background-color ease 100ms;
       -moz-transition: background-color ease 100ms;
         -o-transition: background-color ease 100ms;
            transition: background-color ease 100ms;
}

.nav ul li:hover {
    background-color: var(--hover-color);
}

.nav ul li a {
    color: #000;
    text-decoration: none;
}

.navActive {
    background-color: var(--active-focus-color);
}

.navToggle {
    width: 20px;
    height: 20px;
    background-color: var(--nav-toggle-color);
    border: 1px solid var(--nav-toggle-border-color);
    border-radius: 100%;
    cursor: pointer;
    display: none;
    margin: 0 auto;
}

@media only screen and (max-width: 45em) {
    .nav {
        padding: 6px 0;
    }
    .nav ul {
        display: none;
        margin-top: 6px;
    }
    .navToggle {
        display: block;
    }
    .nav ul li {
        float: none;
    }
}

/* Pagination */

.pgt {
    margin: 10px 0;
}

.pgt::after {
    content: "";
    clear: both;
    display: block;
}

.pgt li {
    float: left;
    list-style-type: none;
    padding: 4px 10px;
    border: 1px solid var(--border-color);
    border-right: 0;
    color: var(--muted-color);
}

.pgt li:last-child {
    border-right: 1px solid var(--border-color);
}

.pgt li:hover {
    background-color: var(--hover-color);
}

.pgtActive {
    background-color: var(--active-focus-color);
}

.pgt li a {
    text-decoration: none;
    color: var(--link-color);
}

.pgt li a:active,
.pgt li a:focus {
    color: var(--link-color-active-focus);
}

/* Panel */

.pnl {
    margin: 10px 0;
}

.pnlHeader,
.pnlFooter {
    font-weight: bold;
    padding: 4px 8px;
}

.pnlBody {
    padding: 8px;
}

.pnlPrimary {
    border: 1px solid var(--primary-color);
}

.pnlPrimary .pnlHeader,
.pnlPrimary .pnlFooter {
    background-color: var(--primary-color);
    color: #FFF;
}

.pnlSecondary {
    border: 1px solid var(--secondary-color);
}

.pnlSecondary .pnlHeader,
.pnlSecondary .pnlFooter {
    background-color: var(--secondary-color);
    color: #FFF;
}

.pnlSuccess {
    border: 1px solid var(--success-color);
}

.pnlSuccess .pnlHeader,
.pnlSuccess .pnlFooter {
    background-color: var(--success-color);
    color: #FFF;
}

.pnlDanger {
    border: 1px solid var(--danger-color);
}

.pnlDanger .pnlHeader,
.pnlDanger .pnlFooter {
    background-color: var(--danger-color);
    color: #FFF;
}

.pnlWarning {
    border: 1px solid var(--warning-color);
}

.pnlWarning .pnlHeader,
.pnlWarning .pnlFooter {
    background-color: var(--warning-color);
    color: #FFF;
}

.pnlInfo {
    border: 1px solid var(--info-color);
}

.pnlInfo .pnlHeader,
.pnlInfo .pnlFooter {
    background-color: var(--info-color);
    color: #FFF;
}

/* Progress */

.prg {
    background-color: #EEE;
    margin: 10px 0;
}

.prgBar {
    width: 50%;
    font-size: 10px;
    text-align: center;
    color: #FFF;
    padding: 2px;
    font-weight: bold;
}

.prgPrimary {
    background-color: var(--primary-color);
}

.prgSecondary {
    background-color: var(--secondary-color);
}

.prgSuccess {
    background-color: var(--success-color);
}

.prgDanger {
    background-color: var(--danger-color);
}

.prgWarning {
    background-color: var(--warning-color);
}

.prgInfo {
    background-color: var(--info-color);
}

/* Slider */

.sld {
	margin: 10px 0;
}

.sldItem {
    position: relative;
    display: none;
}

.sldItem img {
    width: 100%;
    display: block;
}

.sldItem .sldText {
	background-color: rgba(0, 0, 0, .4);
	padding: 4px 6px;
	position: absolute;
	color: #FFF;
    font-size: 10px;
    border-radius: 2px;
}

.sldNext,
.sldPre {
	font-size: 20px;
	color: #FFF;
	position: absolute;
	top: 50%;
	cursor: pointer;
	text-shadow: 0 0 6px rgba(0, 0, 0, .2);
    -webkit-transition: background-color ease 100ms;
       -moz-transition: background-color ease 100ms;
         -o-transition: background-color ease 100ms;
            transition: background-color ease 100ms;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);            
}

.sldNext {
	right: 30px;
}

.sldPre {
	left: 30px;
}

.sldNext:hover,
.sldPre:hover {
	color: #EEE;
}

.sldDot {
	text-align: center;
	margin-bottom: 10px;
}

.sldDot span {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #EEE;
	border-radius: 2px;
	margin: 0 2px;
	cursor: pointer;
    -webkit-transition: background-color ease 100ms;
       -moz-transition: background-color ease 100ms;
         -o-transition: background-color ease 100ms;
            transition: background-color ease 100ms;
}

.sldDot span:hover {
	background-color: #DDD;
}

.sldActiveDot {
	background-color: #AAA !important;
}

/* Slider Texts Positions */

.leftTop {
	top: 14px;
	left: 14px;
}

.leftCenter {
	top: 50%;
	left: 14px;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
}

.leftBottom {
	left: 14px;
	bottom: 14px;
}

.centerTop {
	top: 14px;
	left: 50%;
	-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
			transform: translateX(-50%);
}

.centerCenter {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%);
		-ms-transform: translate(-50%);
			transform: translate(-50%);
}

.centerBottom {
	left: 50%;
	bottom: 14px;
	-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
			transform: translateX(-50%);
}

.rightTop {
	top: 14px;
	right: 14px;
}

.rightCenter {
	top: 50%;
	right: 14px;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
}

.rightBottom {
	right: 14px;
	bottom: 14px;
}

/* Tab */

.tab {
    margin: 10px 0;
}

.tab ul::after {
    content: "";
    clear: both;
    display: block;
}

.tab ul li {
    float: left;
    list-style-type: none;
    padding: 4px 8px;
    border: 1px solid var(--border-color);
    border-bottom: 0;
    border-right: 0;
    cursor: pointer;
}

.tab ul li:last-child {
    border-right: 1px solid var(--border-color);
}

.tab ul li:hover {
    background-color: var(--hover-color);
}

.tabActive {
    background-color: var(--active-focus-color);
}

.tabDisabled {
    color: #AAA;
    cursor: not-allowed !important;
}

.tabDisabled:hover {
    background-color: #FFF !important;
}

.tab .tabContainer {
    position: relative;
    border: 1px solid var(--border-color);
}

.tab .tabContainer div {
    padding: 8px;
    display: none;
}

/* Table */

.tbl {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

.tbl thead tr th {
    font-weight: 600;
    padding: 10px 0;
    border-bottom: 2px solid #DDD;
}

.tbl tbody tr td {
    text-align: center;
    border-top: 1px solid #DDD;
    padding: 10px;
    font-size: 12px;
}

.tblStriped tbody tr:nth-child(odd) {
    background-color: #F5F5F5;
}

.tblHover tbody tr:hover {
    background-color: #EEE;
}

.tblBordered thead tr th {
    border: 1px solid #DDD;
    border-bottom-width: 2px;
}

.tblBordered tbody tr td {
    border: 1px solid #DDD;
}

.tblSmall thead tr th,
.tblSmall tbody tr td {
    padding: 4px;
}

.tblResponsive {
    overflow-x: auto;
}

.tblNoBorder thead tr th {
    border-bottom: 0;
}

.tblNoBorder tbody tr td {
    border-top: 0;
}

.tblCaption {
    text-align: center;
    font-size: 10px;
    color: var(--muted-color);
    margin: 10px 0;
}

/* ToolTip */

.tlp {
	position: relative;
	display: inline-block;
}

.tlp span {
	visibility: hidden;
	position: absolute;
	white-space: nowrap;
    background-color: var(--tooltip-color);
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	color: #FFF;
	font-size: 10px;
	padding: 4px 10px;
	z-index: 7000;
}

.tlp:hover > span {
	visibility: visible;
}

.tlpTop span {
	bottom: 125%;
	left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.tlpTop span::after {
	content: "";
	width: 0;
	height: 0;
	border-top: 4px solid var(--tooltip-color);
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	position: absolute;
	top: 100%;
	left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.tlpBottom span {
	top: 125%;
	left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.tlpBottom span::after {
	content: "";
	width: 0;
	height: 0;
	border-bottom: 4px solid var(--tooltip-color);
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	position: absolute;
	bottom: 100%;
	left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.tlpRight span {
	top: 50%;
	left: 115%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.tlpRight span::after {
	content: "";
	width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-right: 4px solid var(--tooltip-color);
	border-bottom: 4px solid transparent;
	position: absolute;
	top: 50%;
	right: 100%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.tlpLeft span {
	top: 50%;
	right: 115%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.tlpLeft span::after {
	content: "";
	width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-left: 4px solid var(--tooltip-color);
	border-bottom: 4px solid transparent;
	position: absolute;
	top: 50%;
	left: 100%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

/* Print */

@media only print {
    .prtBlock {
        display: block;
    }
    .prtInline {
        display: inline;
    }
    .prtInlineBlock {
        display: inline-block;
    }
    .prtNone {
        display: none;
    }
    .prtVisible {
        visibility: visible;
    }
    .prtInvisible {
        visibility: hidden;
    }
}